---
http_interactions:
- request:
    method: get
    uri: https://www.coursera.org/api/courses.v1?fields=photoUrl,primaryLanguages,domainTypes,name,description,partnerIds,specializations,partners.v1(abbrName,homeLink,name),specializations.v1(name)&includes=partnerIds,specializations&start=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"-1529244210"
      X-Coursera-Request-Id:
      - DVOwoUtkEeajQRKnv2vvIQ
    body:
      encoding: UTF-8
      string: '{"elements":[{"courseType":"v1.session","specializations":[],"description":"For
        anyone who would like to apply their technical skills to creative work ranging
        from video games to art installations to interactive music, and also for artists
        who would like to use programming in their artistic practice.","domainTypes":[{"domainId":"computer-science","subdomainId":"mobile-and-web-development"}],"primaryLanguages":["en"],"partnerIds":["26"],"photoUrl":"https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://d15cw65ipctsrr.cloudfront.net/24/63a093e763b307dc9420e796aeb06a/GoldComputing3.jpg","name":"Creative
        Programming for Digital Media & Mobile Apps","id":"v1-228","slug":"digitalmedia"},{"courseType":"v2.ondemand","description":"Gamification
        is the application of game elements and digital game design techniques to
        non-game problems, such as business and social impact challenges. This course
        will teach you the mechanisms of gamification, why it has such tremendous
        potential, and how to use it effectively. For additional information on the
        concepts described in the course, you can purchase Professor Werbach''s book
        F[...]
[...]
